/* 
***********************************************
*Author: Baruch Flores                        *
*Homework 13: Friend Finder                   *
*UCB Extension - Full-Stack Bootcamp          *
*August 2018                                  *
*********************************************** 
*/

body {
    background-image: linear-gradient(275deg, #a1c4fd, #c2e9fb)!important;
}

.jumbotron {
    border-style: double;
    border-color: bisque;
    border-width: 1rem;
}